<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homepage.component.css">    
</head>
<body>
    <header>
  
<div class="welcome-text">
        <h1>
<h1>Welcome to </h1>
 <span>THE SAUCE STORIES</span></h1>
<a  routerLink="login">BOOK TABLE</a>
<a  routerLink="login">CHECK BOOKING</a>
    </div>
</header>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">Costumer Review</a></li>
                    <li><a href="#">order</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>MENU</h4>
                <ul>
                    <li><a href="#">Main Course</a></li>
                    <li><a href="#">Beverages</a></li>
                    <li><a href="#">Breads</a></li>
                    <li><a href="#">Dessert</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          
            </div>
        </div>
    
</footer>


</body>
</html>